.header_container {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-evenly;
	background-color: #fff;
	border-bottom: 0.1px solid lightgray;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	z-index: 999;

	.header_left {
		display: flex;

		.header_search {
			padding: 10px;
			display: flex;
			align-items: center;
			border-radius: 5px;
			height: 40px;
			color: gray;
			background-color: #eef3f8;
		}

		.header_search > input {
			background: none;
			border: none;
			outline: none;
		}
	}

	.header_right {
		display: flex;
	}
}

.image__header {
	padding: 2px;
	padding-right: 5px;
}
